body {
    background-color: #fcf254;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.text {
  vertical-align: middle;
  color:#f5a500
}